*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.mainheader{
    padding: 15px 30px;
    display: flex;
    color: #fff;
    background-color: rgba(156, 92, 9, 0.774);
    justify-content: space-between;
}
.mainheader ul{
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 50px;
}
.mainheader ul li{
    text-decoration: none;
}
.mainheader button{
    padding: 4px 20px;
    cursor: pointer;
}
.mainheader button:hover{
    background-color: black;
    color: #fff;
}